.link {
  display: inline-block;
  opacity: 0.5;
  text-decoration: none !important;
  transition: 0.05s transform ease-in-out;
  margin: 50px 100px;
}

.link img {
  max-width: 200px;
  max-height: 160px;
}

.link.isActive {
  opacity: 1;
  transform: scale(1.7);
}
